.blue{border-left-width:500px;border-left-style:solid;width:0;height:100px;border-color:#00b9e4}
.red{border-left-width:500px;border-left-style:solid;width:0;height:100px;border-color:#ed2939}
.green{border-left-width:500px;border-left-style:solid;width:0;height:100px;border-color:#3f9c35}