.div1{background-color:#0D1117;color:#fff;display: block;font: size 1px;width: 10%;}
#div2{text-align: center;background-color: slateblue;width: 14rem;height: 30rem;}
.div3{background-color: tomato;text-align: center;width: 14rem;height: 10rem;display: block;}