/* About page-nin stylesi */
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 3000px;
    bor
}
.about-page{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}
.about-me{
    flex: 0 0 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.lightbox-content{
    margin: 70px 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif; ;

}
.get-to-know{
    
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 50px;
    font-family:'Poppins', sans-serif; ;
    padding-top: 70px;
    
}
.description{
    font-size: 15px;
    margin-bottom: -25px;
    margin-top: 0px;
    text-align: center;

}
.description-title{
    font-size: 46px;
    margin-bottom: 37px;
    display: inline-block;
}
#black-dark{background-color: #111;}

