#section-blog{
    background-color: #101010;
    margin: 0px;
    text-align: left;
    
}
.closebox{
    margin: 70px 0;
    height: 990px;
}

.section-heading{
    height: 134px;
    margin-bottom: 84px;
    text-align: center;
    padding-right: 50px;
}
.section-description{
    font-size: 15px;
    margin-bottom: 17px;
    margin-top: 0;
    color: #9f9f9f;
}
.section-title{
    font-size: 46px;
    margin-bottom: 37px;
    font-weight: 700;
    letter-spacing: -.25px;
    margin-top: 0px;
    display: inline-block;
    color: #f0f0f0;
    margin-top: -15px;
    font-family:'Poppins', sans-serif; 
}
.blog{
    height: 771px;
}
.img-all{
    width: 100%;
    object-fit: cover;
}
.col-4{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.daily-blogs{
    margin-bottom: 70px;
    position: relative;
    height: 350px;
}
.title-comment{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 0.1px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 5px;
}
.pos-rel{
    position: relative;
}
.blog-date{
    position: absolute;
    top: 0px;
    right: 294px;
    left: 0px;
    background-color: #009e66;
    padding-left: 14px;
    color: #fff;
    margin-top: 75px;
    width: 20%;
}
.text-dec{
    text-decoration: none;
}
.blog-description{
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family:'Poppins', sans-serif; 
}