#black-dark{
    background-color: #111;
    color: #9f9f9f;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
}
.section-description{
    font-size: 15px;
    line-height: 29.25px;
    font-weight: 400;
    font-family:'Poppins', sans-serif;
    color: #9f9f9f;
}
.section-title{
    font-size: 46px;
    line-height: 100%;
    letter-spacing: -0.25px;
    font-weight: 700;
    color: #f0f0f0;
    display: inline-block;
    margin-bottom: 37px;
}
.resume-title{
    color: #f0f0f0;
}
.lightbox-content{
    margin: 70px 0;
}
.resume-page{
    margin-bottom: 83px;
    text-align: center;
}
.education-title{
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 31px;
    color: #f0f0f0;
}
.resume-block{
    background-color: #161616;
    border-left: 2px solid transparent;
    border-left-color: #009e66;
    padding: 32px 48px;
    position: relative;
    border-bottom: 1px solid #313131;
}
.resume-detail{
    margin-bottom: 7px;
}
.experience-title{
    margin-bottom: 20px;
}
.experience{
    margin-right: 20px;
}
.education{
    margin-right: 20px;
}
.resume-section{
    margin-bottom: 120px;
}
.section-heading{
    margin-bottom: 0px;
}
.skill-section{
    margin-bottom: 120px;
}
.bar{
    margin-bottom: 42px;
    margin: 40px 0;
}
.skill-bars{
    padding: 0px 30px;
    border-radius: 10px;
}
.skill-bars .bar .info span{
    font-weight: 500;
    font-size: 16px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
    line-height: 31.2px;
    font-weight: 400;
    color: #cecece;
    font-family:'Poppins', sans-serif;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 9px;
    width: 100%;
    position: relative;
    transform: scaleX(0);
    transform-origin: right;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    background: #2f2f2f;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    background: #009e66;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 95%;
  }
  .bar .progress-line.web span{
    width: 80%;
  }
  .bar .progress-line.js span{
    width: 90%;
  }
  .bar .progress-line.react span{
    width: 90%;
  }
  .bar .progress-line.mysql span{
    width: 95%;
  }
  .bar .progress-line.python span{
    width: 80%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "95%";
  }
  .progress-line.web span::after{
    content: "80%";
  }
  .progress-line.js span::after{
    content: "90%";
  }
  .progress-line.react span::after{
    content: "90%";
  }
  .progress-line.mysql span::after{
    content: "95%";
  }
  .progress-line.python span::after{
    content: "80%";
  }
  .video-title{
      margin-bottom: 20px;
  }
 
  