#black-dark{
    background-color: #111;
    color: #9f9f9f;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
}
.img-fluid{
    width: 110px;
    height: auto;
    max-width: 100%;
    padding-left: 0px;
    padding-top: 15px;
}
.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 32px;
}
.navbar .navbar-nav .nav-link {
    color: #e6e6e6;
    font-size: 15px;
    padding: 0;
}
.home-area::before {
    background-color: rgba(0,0,0,.4);
}
.element-cover-bg::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.home-area{
    background-image: url(../img/mrdongok--CB10MOyIJA-unsplash.jpg);
    background-color: #111;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    height: 100%;
    margin-right: 0px !important;
}
.section-title{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 34px;
}
.section-title2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: .3px;
    margin-bottom: 0;
}
.social-icons{
    margin: 0 50px;
    position: relative;
}
.lang{
    bottom: 35px;
    position: absolute;
}
.lang-list{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.language{
    transform: rotate(90deg);
    color: #e6e6e6;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}
.icons{
    bottom: 34px;
    position: absolute;
    right: 0;
}
.icons-items{
    list-style: none;
}
.style-icon{
    font-size: 20px;
    color: #fff;
}
.collapse .navbar-design{
    padding-bottom: 50px;
    padding-right: 30px;
}
