#navbar{
    display:flex
}
.mad-logo{
    width:110px;height:26px;
    padding-left: 42px;
    padding-top:28px ;
}
.blackimage{
   background-image: url(../img/home.jpg);
   background-color: rgba(0,0,0,.4);
   position: absolute;
   height: 98vh;
    padding-left: 0px;margin-left: -8px;
   margin: 0px;
    width: 100%;
   padding: 0px;
   background-position: center center;
    object-fit: cover;
}
#box-size{
    margin: 0px;
    width: 100%;
}
.navbarmenu{
    color:#e6e6e6;font-size:15px;
    font-family:'Poppins', sans-serif;
    display: flex;
    justify-content: end;
}
#ul-head-list{
    display: flex;
    padding-left: 85rem;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
}
#ul-head-list li{
    list-style: none;
    padding:0px 10px;
    justify-content:space-between;
    
}
.mainpage-head{
    display: flex;
    justify-content: center;
    justify-content:space-around;
    color: #fff;
    
    font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;

}
.bottom-word{
    font-family:'Poppins',sans-serif ;
    justify-content: center;
    display:flex;
    font-size: 32px;
    color: #fff;
    margin-top: -70px;
    padding-left: 30px;
}
.header{
    padding-top: 260px;
    font-weight: 700;
    font-size: 73px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}
#list-icons{
    list-style: none;
    
}
ul li{
    padding-top: 25px;
}
#bt-list{
    text-align: right;
padding-right: 50px;
font-size: 22px;
padding-top: 35px;
}
#box-size{height: 100%;}




