.profile{width:350px;height:300px}
.mid{font-size:18px;font-family:Verdana,Geneva,Tahoma,sans-serif;width:350px;height:110px;text-align:center;padding-top:70px;color:#2d3248;background-color:#fff}
.number{font-size:18px;font-family:Verdana,Geneva,Tahoma,sans-serif;text-align:center;color:#969696;}
.baku{font-size:18px;font-family:Verdana,Geneva,Tahoma,sans-serif;text-align:center;color:#969696;}
.bottom{font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;text-align: left;padding-top: 30px;padding-left: 50px;background-color: white;padding-bottom: 50px;color:#2d3248 ;display: flex;}
.followers{font-size: 12px;color: #969696;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 90px;padding-top: 35px;margin-left: -22px;}
.following{font-size: 12px;color: #969696;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 90px;margin-top: 48px;}
.foll{width:-55px;margin-top: -55px;padding-left: 6px;font-size:18px;font-family:Verdana,Geneva,Tahoma,sans-serif;color:#2d3248;}
.photos{font-size: 12px;color: #969696;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;width: 90px;padding-top: 32px;margin-left: -1px;margin-top: 17px;}
.photo{font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;color:#2d3248 ;margin-left: -84px;margin-top: 23px;}
.fol{font-size:18px;font-family:Verdana,Geneva,Tahoma,sans-serif;}
.insta{font-size: 45px;}
